spring:
  application:
    name: order-management-service
  profiles:
    active: local   # default (can be overridden)

server:
  servlet:
    context-path: /api

management:
  endpoints:
    web:
      exposure:
        include: health,info