server:
  port: 8081

spring:
  datasource:
    url: jdbc:mysql://prod-db:3306/orderdb
    username: prod_user
    password: ${DB_PASSWORD}   # ENV VARIABLE

  jpa:
    hibernate:
      ddl-auto: none
    show-sql: false

app:
  jwt:
    secret: ${JWT_SECRET}
    expiration: 3600000

springdoc:
  swagger-ui:
    enabled: false

logging:
  level:
    root: ERROR