server:
  port: 8081

spring:
  datasource:
    url: jdbc:mysql://dev-db:3306/orderdb
    username: dev_user
    password: dev_password

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true

app:
  jwt:
    secret: mySuperSecureJwtSecretKeyForDevEnv1234567890123456
    expiration: 3600000

springdoc:
  swagger-ui:
    enabled: true

logging:
  level:
    root: INFO